<div th:fragment="name" id="id1">
  <span>

  <div id="menu" style="background-color:#D0D0D0;height:1000px;width:200px;float:left;">
    <b></b><br>
      <ul>
      <li><a href="/startCooking">做菜</a>
      <li><a href="/rest">休息</a> </li>
        <li><a href="/login">下班</a></li>
    </ul>
  </div>
  </span>
</div>




<div th:fragment="name1" id="id">
  <span>

  <div id="menu1" style="background-color:#D0D0D0;height:1000px;width:200px;float:left;">
    <b></b><br>
    <ul>
      <li><a href="/pay">结账</a>
    </ul>
      <ul>
      系统管理
      <li><a href="/dishesList">管理菜单</a>
        <li><a href="/addDishesList">添加菜品</a>
      <li><a href="/orderItemForUser">查看订单额</a> </li>
    </ul>
    <ul>
      用户管理
        <li><a href="/userList">在职员工列表</a></li>
        <li><a href="/newUser">新员工注册</a></li>
      <li><a href="/changeUserInformation">更改员工信息</a></li>
        <li><a href="/deleteUser">删除用户</a></li>
    </ul>
    <ul>
      桌子管理
        <li><a href="/tableList">桌子列表</a></li>
        <li><a href="/table">桌子管理</a></li>
        <li><a href="/login">退出</a></li>
    </ul>
  </div>
  </span>
</div>