<div th:fragment="name" id="id1">
  <span>
    <div id="header" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎使用厨房做菜系统</h1></div>

  <div id="menu" style="background-color:#D0D0D0;height:1000px;width:200px;float:left;">
    <b></b><br>
      <ul>
      <li><a href="/startCooking">做菜</a>
      <li><a href="/rest">休息</a> </li>
        <li><a href="/login">下班</a></li>
    </ul>
  </div>
  </span>
</div>




<div th:fragment="name1" id="id">
  <span>
    <div id="header1" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎使用餐厅管理系统</h1></div>

  <div id="menu1" style="background-color:#D0D0D0;height:1000px;width:200px;float:left;">
    <b></b><br>
    <ul>
      <li><a href="/bill">结账</a>
    </ul>
      <ul>
      系统管理
      <li><a href="/dishesList">管理菜单</a>
      <li><a href="/orderListForUser">查看订单额</a> </li>
    </ul>
    <ul>
      用户管理
        <li><a href="/userList">在职员工列表</a></li>
        <li><a href="/newUser">新员工注册</a></li>
        <li><a href="/deleteUser">删除用户</a></li>
    </ul>
    <ul>
      桌子管理
        <li><a href="/tableList">桌子列表</a></li>
        <li><a href="/table">桌子管理</a></li>
        <li><a href="/login">退出</a></li>
    </ul>
  </div>
  </span>
</div>