<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer</title>
</head>
<body>
<div id="header" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎来到本餐厅</h1></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">
    <h1>请注册登陆</h1>
    <p th:text="${tip}"></p>

    <form action="/regCustomer" method="post">
        <div>
            请输入用户名<input type="text" name="name">
        </div>
        <div>
            请输入密码<input type="password" name="password">
        </div>
        <div>
            请输入人数<input type="number" name="count">
        </div>
        <div>
            请输入桌号<input type="number" name="tableId">
        </div>
        <input type="submit" value="确定">
    </form>

</div>
</body>
</html>