<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>dishesIndex</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/jquery-3.6.1.min(1).js"></script>
    <script>
        function getCategoryId(){
            let a = $("#category").val();
            $("#1").val(a);
        }
    </script>
</head>

<body>
<div class="container text-center">
    <h1 style="margin-bottom:0;text-align:center">欢迎来到本餐厅</h1>
</div>

<div>
    <h1>特色推荐</h1>
    <p th:text="${tip}"></p>

    <a href="/lookingFor">搜索</a>

    <form action="/dishesListByCategoryId" method="post">
        <div>
            <label>
                请选择种类<select id="category" name="categoryId">
                <option value="1" selected>特色推荐</option>
                <option value="2">凉菜</option>
                <option value="3">蒸菜</option>
                <option value="4">经典小炒</option>
                <option value="5">羹汤小池</option>
                <option value="6">酒水饮料</option>
                <option value="7">主食</option>
            </select>
            </label>
            <input type="submit" value="确定">
        </div>
    </form>

    <h3>请添加你想要的菜品</h3>
    <form action="/addShoppingCart" method="post">
        <div>
            请输入菜品id<input type="number" name="id">
        </div>
        <div>
            请输入菜品数量<input type="number" name="count">
        </div>
        <div>
            <button type="submit">确定</button>
        </div>
    </form>

    <a href="/shoppingCart">购物车</a>

    <a href="/orderedMenu">查看已点菜单</a>

    <table border="1">
        <tr>
            <th>id</th>
            <th>菜品名</th>
            <th>价格</th>
        </tr>
        <tr th:each="m:${dishesList}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.name}"></td>
            <td th:text="${m.price}"></td>
        </tr>
    </table>

    <form action="/dishesListPageByCategoryId" method="post">
        <div>
            <input id="1" type="hidden" name="categoryId">
            <label>
                请选择页数<select onblur="getCategoryId()" name="number">
                <option value="0">1</option>
                <option value="1">2</option>
            </select>
            </label>
            <input type="submit" value="确定">
        </div>
    </form>
</div>
</body>
</html>