<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deleteUser</title>
</head>
<body>
<div id="header" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎使用餐厅系统</h1></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">
    <div th:insert="commons::name1"></div>
    <h2>删除用户</h2>
    <p th:text="${tip}"></p>
    <form action="/deleteUser" method="post">
        <div>
            请输入用户id<input type="number" name="id">
        </div>
        <button type="submit">确定</button>
    </form>
</div>
</body>
</html>