<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>dishes</title>
  <script src="/jquery-3.6.1.min(1).js"></script>
  <script>
    function getCategoryName(){
      let a = $(".categoryId");
      for(let i = 0;i < a.length;i++){
        let aa = a[i];
        let url = "/category?categoryId="+aa.textContent;
        $.get(url,function (data,status){
          if(status == "success"){
              aa.textContent = data["name"];
          }else{
            console.log("error");
          }
        })
        console.log(aa.textContent);
      }
    }
  </script>
</head>
<body onload="getCategoryName()">
<div id="header" style="background-color:#33CCCC;">
  <h1 style="margin-bottom:0;text-align:center">欢迎使用餐厅系统</h1></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">
  <div th:insert="commons::name1"></div>

  <h2>查看菜点</h2>

  <form action="/dishesByName" method="post">
    <div>
      请输入菜名<input type="text" name="name">
    </div>
    <div>
      <button type="submit">确定</button>
    </div>
  </form>

  <form action="/dishesByCategory" method="post">
    <div>
      <label>
        请选择菜品种类<select name="categoryId">
        <option value="1">特色推荐</option>
        <option value="2">凉菜</option>
        <option value="3">蒸菜</option>
      </select>
        请输入页数<input type="number" name="n">
      </label>
      <button type="submit">确定</button>
    </div>
  </form>

  <table border="1">
    <tr>
      <th>id</th>
      <th>菜品名</th>
      <th>价格</th>
      <th>分类</th>
    </tr>

    <tr th:each="m:${dishesList}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.name}"></td>
        <td th:text="${m.price}"></td>
        <td class="categoryId" th:text="${m.categoryId}"></td>
    </tr>
  </table>

  <form action="/dishesListPage" method="post">
    <div>
      <label>
        请选择页数<select name="number">
        <option value="0">1</option>
        <option value="1">2</option>
      </select>
      </label>
      <input type="submit" value="确定">
    </div>
  </form>

  <a href="/addDishesList">添加菜品</a>

</div>
</body>
</html>