<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>loading</title>
</head>

<body>
<div id="container" style="width:1800px">

  <div id="header" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎使用餐厅系统</h1></div>

  <div id="content" style="background-color:#F0F0F0;height:1000px;width:1800px;float:left;">
    <h2>验  证</h2>
    <p th:text="${error}"></p>
    <form action="/loading"  method="post">
      <div>
        <label>
          请输入手机号<input type="number" name="phoneNumber">
        </label>
      </div>
      <div>
        <label>
          <input type="submit" value="获取验证码">
        </label>
      </div>
      <div>
        <label>
          请输入验证码<input type="text" name="number">
        </label>
      </div>
      <div>
        <input type="submit" value="提交">
      </div>
    </form>
  </div>
</div>
  </body>


</html>

