<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>login</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <h1 style="margin-bottom:0;text-align:center">欢迎来到本餐厅</h1>
</div>

<div>
    <h1>请登陆</h1>
    <p th:text="${tip}"></p>

    <form action="/login" method="post">
        <div class="form-floating mb-3">
            <input class="form-control" placeholder="text" name="name" type="text">
            <label class="form-label">用户名</label>
        </div>
        <div class="form-floating">
            <input class="form-control" placeholder="Password" type="password" name="password">
            <label class="form-label">密码</label>
        </div>
        <button class="btn btn-success" type="submit">确认</button>
    </form>
</div>
</body>
</html>