<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>dishesIndex</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>

<body>
<div class="row text-center" id="header">
    <h1 >欢迎来到本餐厅</h1>
</div>

<div>

    <form action="/lookingForSomething" method="post">
        <div class="row">
            <div class="col-10">
                <div class="form-floating mb-3">
                    <input class="form-control" id="i1" type="text" name="dishesName" placeholder="xxx">
                    <label for="i1">请输入菜名:</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating ">
                    <button class="btn btn-outline-success form-control" type="submit">搜索</button>
                </div>
            </div>
        </div>
    </form>

    <a href="/customerIndex">返回菜单</a>

    <h2>本店推荐</h2>
    <p th:text="${tip}"></p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">菜品名</th>
            <th scope="col">价格</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m:${dishesList}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.name}"></td>
            <td th:text="${m.price}"></td>
        </tr>
    </table>
</div>
</body>
</html>