<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dishesIndex</title>
</head>

<body>
<div id="header" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎来到本餐厅</h1></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">

    <form action="/lookingForSomething" method="post">
        <div>
            请输入你需要查找的菜品<input type="text" name="dishesName">
        </div>
        <div>
            <input type="submit" value="搜索">
        </div>
    </form>

    <a href="/customerIndex">返回菜单</a>

    <h2>本店推荐</h2>
    <p th:text="${tip}"></p>

    <table border="1">
        <tr>
            <th>id</th>
            <th>菜品名</th>
            <th>价格</th>
        </tr>
        <tr th:each="m:${dishesList}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.name}"></td>
            <td th:text="${m.price}"></td>
        </tr>
    </table>

</div>
</body>
</html>