<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addUser</title>
    <script src="/jquery-3.6.1.min(1).js"></script>
    <script>
        function checkPassword(){
            let a = $("#p1").val();
            let b = $("#p2").val();
            if(a != b){
                alert("两次的密码不同");
                $("#1").submit(function (){
                    return false;
                })
            }
        }
    </script>
</head>
<body>
<div id="header" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎使用餐厅系统</h1></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">
    <div th:insert="commons::name1"></div>

    <h2>新员工注册</h2>
    <p th:text="${tip}"></p>
    <form action="/addUser" method="post">
        <div>
            请输入用户名<input type="text" name="name">
        </div>
        <div>
            请输入密码<input id="p1" type="password">
        </div>
        <div>
            请确认密码<input id="p2" onblur="checkPassword()" type="password" name="password">
        </div>
        <div>
            请输入身份<input type="text" name="identity">
        </div>
        <div>
            请输入手机号<input type="text" name="cellphone">
        </div>
            <button id="1" type="submit">确定</button>
    </form>
</div>
</body>
</html>