<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shoppingCart</title>
    <script src="/jquery-3.6.1.min(1).js"></script>
    <script>
        function getDishesName(){
            let a = $(".dishesId");
            for(let i = 0;i < a.length;i++){
                let aa = a[i];
                let url = "/dishes?dishesId="+aa.textContent;
                $.get(url,function (data,status){
                    if(status == "success"){
                        aa.textContent = data["name"];
                    }else{
                        console.log("error");
                    }
                })
                console.log(aa.textContent);
            }
        }
    </script>
</head>

<body onload="getDishesName()">
<div id="header" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎来到本餐厅</h1></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">

    <a href="/customerIndex">返回菜单</a>

    <h2>已点菜单</h2>
    <p th:text="${tip}"></p>

    <table border="1">
        <tr>
            <th>id</th>
            <th>菜品名</th>
            <th>价格</th>
            <th>数量</th>
            <th>总价</th>
        </tr>

        <tr th:each="m:${orderList}">
            <td th:text="${m.id}"></td>
            <td class="dishesId" th:text="${m.dishesId}"></td>
            <td th:text="${m.price}"></td>
            <td th:text="${m.count}"></td>
            <td th:text="${m.total}"></td>
        </tr>
    </table>

    <form action="/OrderListPage" method="post">
        <div>
            <label>
                请选择页数<select name="number">
                <option value="0">1</option>
                <option value="1">2</option>
            </select>
            </label>
            <input type="submit" value="确定">
        </div>
    </form>


</div>
</body>
</html>