<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orderItemForUser</title>
  <script src="/jquery-3.6.1.min(1).js"></script>
  <script>
    function getDishesName(){
      let a = $(".dishesId");
      for(let i = 0;i < a.length;i++){
        let aa = a[i];
        let url = "/dishes?dishesId="+aa.textContent;
        $.get(url,function (data,status){
          if(status == "success"){
            aa.textContent = data["name"];
          }else{
            console.log("error");
          }
        })
        console.log(aa.textContent);
      }
    }
  </script>
  <script>
    function getCategoryName(){
      let a = $(".categoryId");
      for(let i = 0;i < a.length;i++){
        let aa = a[i];
        let url = "/category?categoryId="+aa.textContent;
        $.get(url,function (data,status){
          if(status == "success"){
            aa.textContent = data["name"];
          }else{
            console.log("error");
          }
        })
        console.log(aa.textContent);
      }
    }
  </script>
</head>
<body onload="getDishesName();getCategoryName()">
<div id="header" style="background-color:#33CCCC;">
  <h1 style="margin-bottom:0;text-align:center">欢迎来到本餐厅</h1></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">

  <div th:insert="commons::name1"></div>

  <h2>查看订单额</h2>
  <p th:text="${tip}"></p>

  <form action="/statisticsListOrderBy" method="post">
    <div>
      <label>
        筛选<select name="change">
        <option value="1">数量</option>
        <option value="2">单价</option>
        <option value="3">总价</option>
      </select>
      </label>
      <input type="submit" value="确定">
    </div>
  </form>

  <table border="1">
    <tr>
      <th>id</th>
      <th>菜品名</th>
      <th>菜品种类</th>
      <th>数量</th>
      <th>单价</th>
      <th>总价</th>
    </tr>
    <tr th:each="m:${statisticsList}">
      <td th:text="${m.id}"></td>
      <td class="dishesId" th:text="${m.dishesId}"></td>
      <td class="categoryId" th:text="${m.categoryId}"></td>
      <td th:text="${m.count}"></td>
      <td th:text="${m.price}"></td>
      <td th:text="${m.total}"></td>
    </tr>
  </table>

  <form action="/statisticsListPage" method="post">
    <div>
      <label>
        请选择页数<select name="number">
        <option value="0">1</option>
        <option value="1">2</option>
      </select>
      </label>
      <input type="submit" value="确定">
    </div>
  </form>

</div>
</body>
</html>