<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orderedByCustomer</title>
    <script src="/jquery-3.6.1.min(1).js"></script>
    <script>
        function getDishesName(){
            let a = $(".dishesId");
            for(let i = 0;i < a.length;i++){
                let aa = a[i];
                let url = "/dishes?dishesId=" + aa.textContent;
                $.get(url,function (data,status){
                    if(status == "success"){
                        aa.textContent = data["name"];
                    }else{
                        console.log("error");
                    }
                })
                console.log(aa.textContent);
            }
        }
    </script>

</head>
<body onload="getDishesName()">

<div id="header" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎来到本餐厅</h1></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">

    <div th:insert="commons::name1"></div>

    <h2>清单</h2>
    <p th:text="${tip}"></p>

    <table border="1">
        <tr>
            <th>id</th>
            <th>菜品id</th>
            <th>菜名</th>
            <th>单价</th>
            <th>数量</th>
            <th>总价</th>
            <th>状态</th>
        </tr>
        <tr th:each="m:${orderItems}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.dishesId}"></td>
            <td class="dishesId" th:text="${m.dishesId}"></td>
            <td th:text="${m.price}"></td>
            <td th:text="${m.count}"></td>
            <td th:text="${m.total}"></td>
            <td th:text="${m.status}"></td>
        </tr>
    </table>

    <form action="/orderItemsPage" method="post">
        <div>
            <label>
                请选择页数<select name="number">
                <option value="0">1</option>
                <option value="1">2</option>
            </select>
            </label>
            <button type="submit">确定</button>
        </div>
    </form>



    <a href="/pay">返回</a>
    <a href="/addOrder">添加订单项</a>
    <a href="/reduceOrder">删除订单项</a>

</div>
</body>
</html>