<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bill</title>
    <script src="/jquery-3.6.1.min(1).js"></script>
    <script>
        function getTableId(){
            let a = $("#tableId").text();
            $("#tableId1").val(a);
        }
    </script>
    <script>
        function getTableIdAndCustomerId(){
            let b = $("#customerId").text();
            $("#customerId1").val(b);
        }
    </script>
</head>
<body>
<div id="header" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎使用餐厅系统</h1></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">
    <div th:insert="commons::name1"></div>
    <h2>结账</h2>
    <p th:text="${tip}"></p>

    <form action="/orderByTableId" method="post">
        <div>
            请输入桌号<input type="number" name="tableId">
        </div>
        <button type="submit">确定</button>
    </form>

    <table border="1">
        <tr>
            <th>id</th>
            <th>顾客Id</th>
            <th>桌号</th>
            <th>总价</th>
            <th>支付状态</th>
        </tr>

        <tr th:each="m:${order}">
            <td th:text="${m.id}"></td>
            <td id="customerId" th:text="${m.customerId}"></td>
            <td id="tableId" th:text="${m.tableId}"></td>
            <td th:text="${m.total}"></td>
            <td th:text="${m.status}"></td>
        </tr>
    </table>


    <form action="/orderedByCustomer" method="post">
        <div>
            <input id="customerId1" type="hidden" name="customerId">
        </div>
        <button onclick="getTableIdAndCustomerId()" type="submit">查看订单列表</button>
    </form>

    <form id="form" action="/payOrder" method="post">
        <div>
            <input id="tableId1" type="hidden" name="tableId">
        </div>
        <button onclick="getTableId()" type="submit">结账</button>
    </form>

</div>
</body>
</html>