<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>shoppingCart</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/jquery-3.6.1.min(1).js"></script>
    <script>
        function getDishesName() {
            let a = $(".dishesName");
            for (let i = 0; i < a.length; i++) {
                let aa = a[i];
                let url = "/dishes?dishesId=" + aa.textContent;
                $.get(url, function (data, status) {
                    if (status == "success") {
                        aa.textContent = data["name"];
                    } else {
                        console.log("error")
                    }
                })
                console.log(aa.textContent);
            }
        }
    </script>
    <script>
        function getDishesPrice() {
            let b = $(".dishesPrice");
            for (let i = 0; i < b.length; i++) {
                let bb = b[i];
                let url = "/dishes?dishesId=" + bb.textContent;
                $.get(url, function (data, status) {
                    if (status == "success") {
                        bb.textContent = data["price"];
                    } else {
                        console.log("error");
                    }
                })
                console.log(bb.textContent);
            }
        }
    </script>
    <script>
        function orderShoppingCart() {
            let a = $(".dishes");
            let b = "";
            for (let i = 0; i < a.length; i++) {
                let aa = a[i];
                b = b + aa.textContent + ",";
            }
            $("#dishesId").val(b);
            let c = $(".dishesCount");
            let d = "";
            for (let i = 0; i < c.length; i++) {
                let cc = c[i];
                d = d + cc.textContent + ",";
            }
            $("#count").val(d);
            $("#form").submit();
        }
    </script>
</head>

<body onload="getDishesName();getDishesPrice()">
<div class="row text-center" id="header">
    <h1>欢迎使用餐厅系统</h1>
</div>

<div>

    <h2>购物车</h2>
    <p th:text="${tip}"></p>

    <form action="/reduceShoppingItem" method="post">
        <div class="row">
            <div class="col-5">
                <div class="form-floating mb-3">
                    <input class="form-control" id="i1" type="number" name="id" placeholder="xxx">
                    <label for="i1">请输入需要减少的菜品id:</label>
                </div>
            </div>
            <div class="col-5">
                <div class="form-floating mb-3">
                    <input class="form-control" id="i2" type="number" name="count" placeholder="xxx">
                    <label for="i2">请输入需要减少的菜品数量:</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating ">
                    <button class="btn btn-outline-success form-control" type="submit">确定</button>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">菜品id</th>
            <th scope="col">菜品名</th>
            <th scope="col">数量</th>
            <th scope="col">单价</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m:${shoppingItem}">
            <td th:text="${m.id}"></td>
            <td class="dishes" th:text="${m.dishesId}"></td>
            <td class="dishesName" th:text="${m.dishesId}"></td>
            <td class="dishesCount" th:text="${m.count}"></td>
            <td class="dishesPrice" th:text="${m.dishesId}"></td>
        </tr>
        </tbody>
    </table>

    <form action="/shoppingItemPage" method="post">
        <div>
            <label>
                请选择页数<select name="number" class="form-select">
                <option value="0" selected>1</option>
                <option value="1">2</option>
            </select>
            </label>
            <button class="btn btn-success" type="submit">确定</button>
        </div>
    </form>

    <form id="form" action="/order" method="post">
        <div>
            <input id="dishesId" type="hidden" name="orderList">
        </div>
        <div>
            <input id="count" type="hidden" name="counts">
        </div>
        <button class="btn btn-success" onclick="orderShoppingCart()">下单</button>
    </form>

    <a href="/customerIndex">返回菜单</a>
</div>
</body>
</html>