<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shoppingCart</title>
</head>

<body>
<div id="header" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎来到本餐厅</h1></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">

    <form action="/deleteOrderList" method="post">
        <div>
            <label>
                请输入你需要删除的菜品id
                <input type="text" name="id">
            </label>
        </div>
        <div>
            <input type="submit" value="确定">
        </div>
    </form>


    <a href="/dishesIndex">返回菜单</a>

    <h2>购物车</h2>
    <p th:text="${tip}"></p>

    <table border="1">
        <tr>
            <th>id</th>
            <th>菜品名</th>
            <th>价格</th>
            <th>单价</th>
            <th>总价</th>
        </tr>
        <tr th:each="m:${orderList}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.dishesId}"></td>
            <td th:text="${m.unitPrice}"></td>
            <td th:text="${m.count}"></td>
            <td th:text="${m.price}"></td>
        </tr>
    </table>

    <form action="/OrderListPage" method="post">
        <div>
            <label>
                请选择页数<select name="number">
                <option value="0">1</option>
                <option value="1">2</option>
            </select>
            </label>
            <input type="submit" value="确定">
        </div>
    </form>

    <form action="/addOrderList" method="post">
        <div>
            <label>
                请输入菜品id<input type="number" name="id">
            </label>
        </div>
        <div>
            <label>
                请输入份数<input type="number" name="count">
            </label>
        </div>
        <div>
            <input type="submit" value="确定">
        </div>
    </form>
</div>
</body>
</html>