<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userList</title>
</head>
<body>
<div id="header" style="background-color:#33CCCC;">
  <h1 style="margin-bottom:0;text-align:center">欢迎使用餐厅系统</h1></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">

  <div th:insert="commons::name1"></div>

  <h2>在职员工情况</h2>

  <p th:text="${tip}"></p>

  <table border="1">
    <tr>
      <th>id</th>
      <th>用户名</th>
      <th>岗位</th>
    </tr>

    <tr th:each="m:${userList}">
      <td th:text="${m.id}"></td>
      <td th:text="${m.name}"></td>
      <td th:text="${m.identity}"></td>
    </tr>
  </table>

  <form action="/userListPage" method="post">
    <div>
      <label>
        请选择页数<select name="number">
        <option value="0">1</option>
        <option value="1">2</option>
      </select>
      </label>
      <input type="submit" value="确定">
    </div>
  </form>

</div>
</body>
</html>