<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>shoppingCart</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/jquery-3.6.1.min(1).js"></script>
    <script>
        function getDishesName() {
            let a = $(".dishesId");
            for (let i = 0; i < a.length; i++) {
                let aa = a[i];
                let url = "/dishes?dishesId=" + aa.textContent;
                $.get(url, function (data, status) {
                    if (status == "success") {
                        aa.textContent = data["name"];
                    } else {
                        console.log("error");
                    }
                })
                console.log(aa.textContent);
            }
        }
    </script>
</head>

<body onload="getDishesName()">
<div class="row text-center" id="header">
    <h1>欢迎来到本餐厅</h1>
</div>

<div>
    <a href="/customerIndex">返回菜单</a>

    <h2>已点菜单</h2>
    <p th:text="${tip}"></p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">菜品名</th>
            <th scope="col">价格</th>
            <th scope="col">数量</th>
            <th scope="col">总价</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m:${orderList}">
            <td th:text="${m.id}"></td>
            <td class="dishesId" th:text="${m.dishesId}"></td>
            <td th:text="${m.price}"></td>
            <td th:text="${m.count}"></td>
            <td th:text="${m.total}"></td>
        </tr>
        </tbody>
    </table>

    <form action="/OrderListPage" method="post">
        <div>
            <label>
                请选择页数<select name="number" class="form-select">
                <option value="0" selected>1</option>
                <option value="1">2</option>
            </select>
            </label>
            <button class="btn btn-success" type="submit">确定</button>
        </div>
    </form>
</div>
</body>
</html>